In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

import dataset
import utils

%matplotlib inline

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

sns.set_style('whitegrid')

plt.rcParams['figure.figsize'] = (18.0, 12.0)

In [2]:
carac = pd.read_csv("dataset/caracteristics.csv", encoding="latin-1", low_memory=False)
places = pd.read_csv("dataset/places.csv", encoding="utf-8", low_memory=False)
users = pd.read_csv("dataset/users.csv", encoding="utf-8", low_memory=False)
vehicles = pd.read_csv("dataset/vehicles.csv", encoding="utf-8", low_memory=False)
holi = pd.read_csv("dataset/holidays.csv", encoding="utf-8", low_memory=False)

In [3]:
carac = carac.rename(columns=dataset.column_names)
places = places.rename(columns=dataset.column_names)
users = users.rename(columns=dataset.column_names)
vehicles = vehicles.rename(columns=dataset.column_names)
holi = holi.rename(columns=dataset.column_names)

In [ ]:
carac.head()

In [4]:
def to_datetime(r):
    hhmm = "%04d" % (r['Hour'])
    hh = hhmm[:2]
    mm = hhmm[-2:]
    date = "2%03d/%02d/%02d %s:%s" % (r['Year'] , r['Month'], r['Day'], hh, mm)
    r = pd.to_datetime(date, format='%Y/%m/%d %H:%M')
    return r

def par(data):
    return data.apply(to_datetime, axis=1)
 
carac['DateTime'] = utils.parall_df(carac, par)

In [5]:
carac['Date'] = carac['DateTime'].dt.date
carac['Time'] = carac['DateTime'].dt.time
carac['Hour'] = carac['DateTime'].dt.hour
carac['Minute'] = carac['DateTime'].dt.minute
carac['Weekdays'] = carac['DateTime'].dt.dayofweek # Monday=0, Sunday=6

In [ ]:
carac.head()

In [ ]:
holi.head()

In [6]:
from datetime import timedelta
period = 7
delta = timedelta(days=period)

holi['ds'] = pd.to_datetime(holi['ds'])
holi_range = pd.DataFrame()

for index, row in holi.iterrows():
    date = pd.to_datetime(row['ds'])
    dates = pd.date_range(date - delta, periods=1+(period*2), freq='d')
    days = dates.day
    months = dates.month
    holiday_ranges = dates - date
    df = pd.DataFrame({'Month': months, 'Day': days, 'HolidayRange': holiday_ranges.days})
    df['Holiday'] = row['holiday']
    holi_range = pd.concat([holi_range, df], ignore_index=True)

In [ ]:
holi_range.head()

In [ ]:
places.head()

In [ ]:
users.head()

In [7]:
users['Users'] = 1

# belt = merged[(merged.secu == 11) | (merged.secu == 12) | (merged.secu == 10)]
# helmet = merged[(merged.secu == 21) | (merged.secu == 22) | (merged.secu == 20)]
# users['SafetyEquipmentUsed'] = users['SafetyEquipment'].apply(lambda v: str(v)[1:2] if not np.isnan(v) else np.nan)
# users['SafetyEquipment'] = users['SafetyEquipment'].apply(lambda v: str(v)[:1] if not np.isnan(v) else np.nan)
users = utils.dummies(users, 'UserCategory')
users = utils.dummies(users, 'Severity')
users = utils.dummies(users, 'Sex')
users = utils.dummies(users, 'Trip')
users = utils.dummies(users, 'SafetyEquipment')
# users = utils.dummies(users, 'SafetyEquipmentUsed')


# users = utils.dummies(users, 'SafetyEquipment')
# users['DriverBirthday'] = users['an_nais'][users['Driver']]
users.head()

     AccidentID  Place  UserCategory  Severity  Sex  Trip  SafetyEquipment  Locationofpedestrian  Actionofpedestrian  PedestrianGroup  UserYoB num_veh  Users  UserCategory_1  UserCategory_2  UserCategory_3  UserCategory_4  Severity_1  Severity_2  Severity_3  Severity_4  Sex_1  Sex_2  Trip_0.0  Trip_1.0  Trip_2.0  Trip_3.0  Trip_4.0  Trip_5.0  Trip_9.0  SafetyEquipment_0.0  SafetyEquipment_1.0  SafetyEquipment_2.0  SafetyEquipment_3.0  SafetyEquipment_10.0  SafetyEquipment_11.0  SafetyEquipment_12.0  SafetyEquipment_13.0  SafetyEquipment_20.0  SafetyEquipment_21.0  SafetyEquipment_22.0  SafetyEquipment_23.0  SafetyEquipment_30.0  SafetyEquipment_31.0  SafetyEquipment_32.0  SafetyEquipment_33.0  SafetyEquipment_40.0  SafetyEquipment_41.0  SafetyEquipment_42.0  SafetyEquipment_43.0  SafetyEquipment_90.0  SafetyEquipment_91.0  SafetyEquipment_92.0  SafetyEquipment_93.0
0  201600000001    1.0             1         1    2   0.0             11.0                   0.0                 0.0              0.0   1983.0     B02      1               1               0               0               0           1           0           0           0      0      1         1         0         0         0         0         0         0                    0                    0                    0                    0                     0                     1                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0
1  201600000001    1.0             1         3    1   9.0             21.0                   0.0                 0.0              0.0   2001.0     A01      1               1               0               0               0           0           0           1           0      1      0         0         0         0         0         0         0         1                    0                    0                    0                    0                     0                     0                     0                     0                     0                     1                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0
2  201600000002    1.0             1         3    1   5.0             11.0                   0.0                 0.0              0.0   1960.0     A01      1               1               0               0               0           0           0           1           0      1      0         0         0         0         0         0         1         0                    0                    0                    0                    0                     0                     1                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0
3  201600000002    2.0             2         3    1   0.0             11.0                   0.0                 0.0              0.0   2000.0     A01      1               0               1               0               0           0           0           1           0      1      0         1         0         0         0         0         0         0                    0                    0                    0                    0                     0                     1                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0
4  201600000002    3.0             2         3    2   0.0             11.0                   0.0                 0.0              0.0   1962.0     A01      1               0               1               0               0           0           0           1           0      0      1         1         0         0         0         0         0         0                    0                    0                    0                    0                     0                     1                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0

In [8]:
users.columns.values

array(['AccidentID', 'Place', 'UserCategory', 'Severity', 'Sex', 'Trip',
       'SafetyEquipment', 'Locationofpedestrian', 'Actionofpedestrian',
       'PedestrianGroup', 'UserYoB', 'num_veh', 'Users', 'UserCategory_1',
       'UserCategory_2', 'UserCategory_3', 'UserCategory_4', 'Severity_1',
       'Severity_2', 'Severity_3', 'Severity_4', 'Sex_1', 'Sex_2',
       'Trip_0.0', 'Trip_1.0', 'Trip_2.0', 'Trip_3.0', 'Trip_4.0',
       'Trip_5.0', 'Trip_9.0', 'SafetyEquipment_0.0',
       'SafetyEquipment_1.0', 'SafetyEquipment_2.0',
       'SafetyEquipment_3.0', 'SafetyEquipment_10.0',
       'SafetyEquipment_11.0', 'SafetyEquipment_12.0',
       'SafetyEquipment_13.0', 'SafetyEquipment_20.0',
       'SafetyEquipment_21.0', 'SafetyEquipment_22.0',
       'SafetyEquipment_23.0', 'SafetyEquipment_30.0',
       'SafetyEquipment_31.0', 'SafetyEquipment_32.0',
       'SafetyEquipment_33.0', 'SafetyEquipment_40.0',
       'SafetyEquipment_41.0', 'SafetyEquipment_42.0',
       'SafetyEquipment_43.0', 'SafetyEquipment_90.0',
       'SafetyEquipment_91.0', 'SafetyEquipment_92.0',
       'SafetyEquipment_93.0'], dtype=object)

In [9]:
columns = [
    'AccidentID', 
    'Users',
    'UserCategory_1', 'UserCategory_2', 'UserCategory_3', 'UserCategory_4', 
    'Severity_1', 'Severity_2', 'Severity_3', 'Severity_4', 
    'Sex_1', 'Sex_2',
    'Trip_0.0', 'Trip_1.0', 'Trip_2.0', 'Trip_3.0', 'Trip_4.0', 'Trip_5.0', 'Trip_9.0',
    'SafetyEquipment_1.0', 'SafetyEquipment_2.0','SafetyEquipment_3.0', 
    'SafetyEquipment_10.0','SafetyEquipment_11.0', 'SafetyEquipment_12.0','SafetyEquipment_13.0', 
    'SafetyEquipment_20.0','SafetyEquipment_21.0', 'SafetyEquipment_22.0','SafetyEquipment_23.0', 
    'SafetyEquipment_30.0','SafetyEquipment_31.0', 'SafetyEquipment_32.0','SafetyEquipment_33.0', 
    'SafetyEquipment_40.0','SafetyEquipment_41.0', 'SafetyEquipment_42.0','SafetyEquipment_43.0', 
    'SafetyEquipment_90.0','SafetyEquipment_91.0', 'SafetyEquipment_92.0','SafetyEquipment_93.0'
]
group_users = users[columns].groupby(['AccidentID'])

In [ ]:
users.head()

In [10]:
agg_users = group_users.agg('sum')
agg_users['AccidentID'] = agg_users.index
agg_users.head()

              Users  UserCategory_1  UserCategory_2  UserCategory_3  UserCategory_4  Severity_1  Severity_2  Severity_3  Severity_4  Sex_1  Sex_2  Trip_0.0  Trip_1.0  Trip_2.0  Trip_3.0  Trip_4.0  Trip_5.0  Trip_9.0  SafetyEquipment_1.0  SafetyEquipment_2.0  SafetyEquipment_3.0  SafetyEquipment_10.0  SafetyEquipment_11.0  SafetyEquipment_12.0  SafetyEquipment_13.0  SafetyEquipment_20.0  SafetyEquipment_21.0  SafetyEquipment_22.0  SafetyEquipment_23.0  SafetyEquipment_30.0  SafetyEquipment_31.0  SafetyEquipment_32.0  SafetyEquipment_33.0  SafetyEquipment_40.0  SafetyEquipment_41.0  SafetyEquipment_42.0  SafetyEquipment_43.0  SafetyEquipment_90.0  SafetyEquipment_91.0  SafetyEquipment_92.0  SafetyEquipment_93.0    AccidentID
AccidentID
200500000001      6               2               4               0               0           4           0           1           1      4      2         4         1         0         1         0         0         0                    0                    0                    0                     0                     5                     0                     0                     0                     0                     0                     0                     0                     1                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0  200500000001
200500000002      2               2               0               0               0           1           0           1           0      2      0         0         0         0         0         0         2         0                    0                    0                    0                     0                     1                     0                     0                     0                     1                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0  200500000002
200500000003      2               2               0               0               0           1           0           1           0      2      0         0         2         0         0         0         0         0                    0                    0                    0                     0                     0                     0                     0                     0                     2                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0  200500000003
200500000004      4               3               1               0               0           0           0           2           2      2      2         1         1         0         1         0         1         0                    0                    0                    0                     0                     4                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0  200500000004
200500000005      2               1               1               0               0           0           0           1           1      2      0         1         0         0         0         0         1         0                    0                    0                    0                     0                     2                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0                     0  200500000005

In [ ]:
vehicles.head()

In [11]:
vehicles['Vehicles'] = 1

In [13]:
column = [
    'AccidentID', 'Vehicles'
]
group_vehicles = vehicles[column].groupby(['AccidentID'])
# group_vehicles.head()

In [14]:
agg_vehicles = group_vehicles.agg('sum')
agg_vehicles['AccidentID'] = agg_vehicles.index
agg_vehicles.head()

              Vehicles    AccidentID
AccidentID
200500000001         2  200500000001
200500000002         2  200500000002
200500000003         2  200500000003
200500000004         3  200500000004
200500000005         1  200500000005

In [15]:
c_h = pd.merge(carac, holi_range, on=['Month', 'Day'], how='left')
c_h_p = pd.merge(c_h, places, on='AccidentID')
c_h_p_u = pd.merge(c_h_p, agg_users, on='AccidentID')
c_h_p_u_v = pd.merge(c_h_p_u, agg_vehicles, on='AccidentID')

In [17]:
merged = c_h_p_u_v
merged.head()

,AccidentID,Year,Month,Day,Hour,LightingCondition,Localisation,Intersection,AtmosphericCondition,CollisionType,Municipality,Address,GpsCoding,Latitude,Longitude,Department,DateTime,Date,Time,Minute,Weekdays,HolidayRange,Holiday,RoadCategory,RoadNumber,RouteNumber,RouteName,TrafficType,NumberofLanes,HomePRNumber,PRDistance,OuterLane,prof,LaneStructure,CentralLaneWidth,OuterLaneWidth,SurfaceCondition,Infrastructure,SituationofAccident,SchoolPoint,Users,UserCategory_1,UserCategory_2,UserCategory_3,UserCategory_4,Severity_1,Severity_2,Severity_3,Severity_4,Sex_1,Sex_2,Trip_0.0,Trip_1.0,Trip_2.0,Trip_3.0,Trip_4.0,Trip_5.0,Trip_9.0,SafetyEquipment_1.0,SafetyEquipment_2.0,SafetyEquipment_3.0,SafetyEquipment_10.0,SafetyEquipment_11.0,SafetyEquipment_12.0,SafetyEquipment_13.0,SafetyEquipment_20.0,SafetyEquipment_21.0,SafetyEquipment_22.0,SafetyEquipment_23.0,SafetyEquipment_30.0,SafetyEquipment_31.0,SafetyEquipment_32.0,SafetyEquipment_33.0,SafetyEquipment_40.0,SafetyEquipment_41.0,SafetyEquipment_42.0,SafetyEquipment_43.0,SafetyEquipment_90.0,SafetyEquipment_91.0,SafetyEquipment_92.0,SafetyEquipment_93.0,Vehicles
0,201600000001,16,2,1,14,1,2,1,8.0,3.0,5.0,"46, rue Sonneville",M,0.0,0,590,2016-02-01 14:45:00,2016-02-01,14:45:00,45,0,NaN,NaN,3.0,39,NaN,NaN,2.0,0.0,NaN,NaN,0.0,1.0,3.0,0.0,0.0,1.0,0.0,1.0,0.0,2,2,0,0,0,1,0,1,0,1,1,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
1,201600000002,16,3,16,18,1,2,6,1.0,6.0,5.0,1a rue du cimetière,M,0.0,0,590,2016-03-16 18:00:00,2016-03-16,18:00:00,0,2,NaN,NaN,3.0,39,NaN,NaN,1.0,0.0,NaN,NaN,0.0,1.0,2.0,0.0,58.0,1.0,0.0,1.0,0.0,3,1,2,0,0,0,0,3,0,2,1,2,0,0,0,0,1,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,201600000003,16,7,13,19,1,1,1,1.0,6.0,11.0,NaN,M,0.0,0,590,2016-07-13 19:00:00,2016-07-13,19:00:00,0,2,-1.0,Bastille Day,3.0,1,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,3.0,0.0,68.0,2.0,0.0,3.0,99.0,2,1,0,1,0,1,0,1,0,2,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,201600000003,16,7,13,19,1,1,1,1.0,6.0,11.0,NaN,M,0.0,0,590,2016-07-13 19:00:00,2016-07-13,19:00:00,0,2,-1.0,Bastille Day,3.0,1,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,3.0,0.0,68.0,2.0,0.0,3.0,99.0,2,1,0,1,0,1,0,1,0,2,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,201600000003,16,7,13,19,1,1,1,1.0,6.0,11.0,NaN,M,0.0,0,590,2016-07-13 19:00:00,2016-07-13,19:00:00,0,2,-1.0,Bastille Day,3.0,1,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,3.0,0.0,68.0,2.0,0.0,3.0,99.0,2,1,0,1,0,1,0,1,0,2,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [18]:
merged.to_csv('dataset/agg.csv.gz', compression='gzip', encoding='utf-8', index=False)